// Color Library

$neonGreen: #97E365; 
// $neonGreen: #B1D234;
$neonBlue: #52CFFF;
$tangerine: #F7931D;
$steel: #BDCCD4;
$coral: #FE7271;
$graphite: #3D454D;
$neoBlack: #231611;
$pewter: #E1E1E1;

$neonBlue-transparent: rgba(82, 207, 255, 0.5);
$neonGreen-transparent: rgba(151, 227, 101, 0.5);
$white-transparent: rgba(255,255,255,0.9);
$coral-transparent: rgba(255,114,133,0.9);

